<!DOCTYPE html>
<html>
  <head>
    <title>Refactoring MSM GUI 2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style>
      body {
        background-color: #F9DEE0;
        color: #64113F;
      }
      body a {
        color: #416351;
        text-decoration: none;
      }
      body th {
        background-color: #F29CA3;
      }
      body h1 {
        background-color: #F29CA3;
      }
      body td {
        background-color: #F7CACD;
      }
    </style>
  </head>

  <body>
    <nav>
      <a href="/">
        Home
      </a>
    </nav>

    <%= yield %>
  </body>
</html>
